<h1><%= t :hello %></h1>
<p><%= t :greeting %></p>
<p><%= link_to("Nepali", "#{request.protocol}#{request.host_with_port}/ne/#{request.path_info.split("/").last}") %></p>
<p><%= link_to("English", "#{request.protocol}#{request.host_with_port}/en/#{request.path_info.split("/").last}") %>