<h1><%= t :hello %></h1>
<p><%= link_to("Nepali", "#{request.protocol}#{request.host_with_port}#{request.path_info}?locale=ne") %></p>
<p><%= link_to("English", "#{request.protocol}#{request.host_with_port}#{request.path_info}?locale=en") %>